<%- include ('partial/header') -%>

<body>
    <div class="row">
        <div class="black"></div>

        <div class="container">
            <h1><a href='/'>HITO-HITO APP</a></h1>
            <h3>Hire AnonimGuys To Do Your Dirty Job || Get Money By Doing Some Dirty Job</h3>
            <p class="please">Please Login or Create Your Account</p>
            <div class="tampung">
                <div class="tmp"><a href='/loginCenter'>Login</a></div>
            </div>
            <div class="tampung">
                <div class="tmp"><a href='/registerCenter'>Create Account</a></div>
            </div>
        </div>
    </div>
</body>

</html>