<%- include ('partial/header.ejs') -%>

<body>
    <div class="row">
        <div class="black"></div>
        <div class="container">
            <h1><a href='/'>HITO-HITO APP</a></h1>
            <h3>Welcome <%=data%></h3>
            <a href='/actors/logout'>Logout</a>
        </div>
    </div>

</body>

</html>