<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitohito</title>
</head>
<body>
    <h1><a href = '/'>HITO-HITO APP</a></h1>
    <h3>Hire AnonimGuys To Do Your Dirty Job || Get Money By Doing Some Dirty Job</h3>
    <p>Please Login or Create Your Account</p>
    <a href ='/loginCenter'>Login</a>
    <a href ='/registerCenter'>Create Account</a>
</body>
</html>