<%- include ('partial/header.ejs') -%>
<body>
    <h1><a href = '/'>HITO-HITO APP</a></h1>
    <h3>Hire AnonimGuys To Do Your Dirty Job || Get Money By Doing Some Dirty Job</h3>
    <p>Create Account: </p>
    <a href ='/hirers/register'>Hirer</a>
    <a href ='/actors/register'>Actors</a>
    <p>Already have account? <a href = '/loginCenter'>Login Here</a></p>
</body>
</html>