body {
  font-family: "Montserrat";
}
h1 {
  font-size: 70pt;
  font-weight: bold;
}
.row {
  background: url("../img/hring.jpg") no-repeat;
  background-size: cover;
  height: 700px;
}
.black {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
}

.container {
  margin-top: -35%;
  z-index: 2;
}
a {
  color: white;
}
h3,
.green {
  color: rgb(0, 255, 149);
}
.please {
  color: white;
}
.tampung {
  margin-left: 5px;
  width: 20%;
  height: 50px;
  float: left;
  text-align: center;
  background-color: rgb(0, 124, 72);
}
.whiter {
  margin-top: 2%;
}

.tmp {
  margin-top: 5%;
}
.tampung:hover {
  background-color: rgb(6, 93, 119);
}
#yellow:hover {
  background-color: rgb(0, 88, 52);
}
a:hover {
  text-decoration: none;
  color: white;
}
.white {
  font-size: 20pt;
  color: white;
}
